<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PHPTest</title>
    <link rel="stylesheet" href="/bundles/phptest/css/foundation.css" />
    <link rel="stylesheet" href="/bundles/phptest/css/app.css" />
</head>
<body>

{% block main_content %}{% endblock %}

<script src="/bundles/phptest/js/vendor/jquery.min.js"></script>
<script src="/bundles/phptest/js/vendor/what-input.min.js"></script>
<script src="/bundles/phptest/js/foundation.min.js"></script>
<script src="/bundles/phptest/js/app.js"></script>
</body>
</html>
