{% extends "PHPTestBundle::layout.html.twig" %}

{% block main_content %}

    <div class="row">
        <div class="columns small-1 small-push-11">
            <a href="/">
                <i class="fa fa-arrow-circle-left"></i> index
            </a>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <h1>Create a new product</h1>
        </div>
    </div>

    {% include "PHPTestBundle:parts:product_form.html.twig" with {'form': form} %}
    
{% endblock %}
