{% extends "PHPTestBundle::layout.html.twig" %}

{% block main_content %}

<div class="row">
    <div class="small-12 columns">
        <h1>PHPTest index page</h1>
    </div>
</div>
<div class="row">
    <div class="columns small-12">
        <ul class="menu">
            <li>
                <a href="/product/create">
                    <i class="fa fa-arrow-circle-right"></i> Create a new product
                </a>
            </li>
            <li>
                <a href="/product/list">
                    <i class="fa fa-list-alt"></i> Products list
                </a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
