body{
    background-color: #eee;
}
h1{
    font-family: Helvetica;
    text-transform: uppercase;
    color: #05668D;
}
h2{
    font-family: Helvetica;
    text-transform: uppercase;
    color: #02C39A;
}
a{
    color: #00A896;
    font-size: 1.5em;
}
a:hover{
    color: #02C39A;
}

li{
    list-style-type: none;
}
.menu li{
    float: left;
    border: 1px solid #00A896;
    border-radius: 5px;
    margin-right: 10px;
}
.error{
    color: red;
}